version: "3.9"

services:
  db:
    image: pgvector/pgvector:pg17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: musicdb
    ports:
      - "5432:5432"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d  
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend    # points to backend/Dockerfile
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/musicdb

  frontend:
    build: ./frontend   # points to frontend/Dockerfile
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  db_data:
